form{
    padding: 5px;
    padding-bottom: 2em;
    padding-top: 2.5em;
    border: rgb(68, 63, 63) 1px solid;
    border-radius: 2%;
    margin: auto;
    width: 400px;
    text-align: center;
    height: auto;
    vertical-align: middle;
}
.botoncito{
    background-color: yellow;
    color: black;
    width: 8em;
    border: 0em;
    height: 3em;
}
.jeje{
    padding: 0.8em;
    border: rgb(68, 63, 63) 1px solid;
    border-radius: 2%;
    width: 98%;
    margin: auto;
    text-align: justify;
}
select{
    width: 14em; 
    height: 20px; 
    text-align: center
}
.botoncito:hover{
    background-color: white;
    cursor: pointer;
}

@media(max-width: 800px) {
    .all{
        width: 100%;
        height: auto;
        padding-left: 0em;
        padding-right: 0em;
    }
    select{
        width: 100%;
        padding-right: 0em;
    }
    form{
        padding-right: 0em;
        margin: 0em;
        width: 100%;
        border: 0em;
    }
}